/* Color palette */
:root {
    --darkblue: #12232E;
    --darkblue-soft: #203647;
    --blue: #007CC7;
    --blue-soft: #4DA8DA;
}

:root {
    --color-background: var(--darkblue);
    --color-background-soft: var(--darkblue-soft);
    
    --color-button: var(--blue);

    --color-text: white;
}

#app {
    width: 100%;
    height: 100%;
    max-width: none;

    display: grid;
    grid-template-columns: 150px repeat(3, 1fr) 150px;
    grid-template-rows: repeat(5, 1fr);

    overflow: auto;
}

html, body {
    height: 100%;
}

body {
    color: var(--color-text);
    background: var(--color-background);

    font-family: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-rendering: optimizeLegibility;
    
}

a, a:hover, a:visited {
    color: white;
    cursor: pointer;
    
}
